@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
  
img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  --time: all 0.2s ease-out;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
/* ----------------------------------------------------header---------------------------------------------------------------------- */
header {
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(media/background/header4.jpg);
  background-size: cover;
  background-position: center;
  will-change: transform;
  animation-name: animation_header;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animation_header {
  0% {
    transform-origin: 50%;
    transform: scale3d(1,1,1);
  }
  50% {
    transform-origin: 10%;
    transform: scale3d(1.1, 1.1, 1);
  }
  75% {
    transform-origin: 90%;
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform-origin: 20%;
    transform: scale3d(1.3, 1.3, 1);
  }
}
  
h1 {
  color: #fff;
  font-weight: 700;
  line-height: 1;
  z-index: 99;
  font-size: 3rem;
  margin-bottom: 10px;
}

h2 {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    z-index: 99;
    margin-bottom: 10px;
}
h3 {
  color: #fff;
  font-weight: 200;
  font-size: 1.5rem;
  z-index: 99;
}

@media (max-width: 600px) {
 h1 {
  font-size: 2rem;
 }
 h2 {
  font-size: 1rem;
 }
 h3 {
  font-size: 1.2rem;
 }
}

#button_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5rem;
  position: fixed;
  top: 10px;
  left:auto;
  right: auto;
  z-index: 99;
}

#scroll_to_about,
#scroll_to_timetable,
#scroll_to_location,
#scroll_to_contact,
#scroll_to_registration {
  padding: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}
div>#scroll_to_about:hover,
#scroll_to_timetable:hover,
#scroll_to_location:hover,
#scroll_to_contact:hover,
#scroll_to_registration:hover {
  background-color: rgb(255, 255, 255,0.5);
  color: #000;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}


@media (max-width: 1200px) {

 #button_grid {
  grid-gap: 3rem;
 }
#scroll_to_about,
#scroll_to_timetable,
#scroll_to_location,
#scroll_to_contact,
#scroll_to_registration {
  font-size: 17px;
 }
}
@media (max-width: 900px) {

  #button_grid {
   grid-gap: 2rem;
  }
 #scroll_to_about,
 #scroll_to_timetable,
 #scroll_to_location,
 #scroll_to_contact,
 #scroll_to_registration {
   font-size: 14px;
  }
 }

 @media (max-width: 700px) {
 #scroll_to_about,
 #scroll_to_timetable,
 #scroll_to_location,
 #scroll_to_contact,
 #scroll_to_registration {
   font-size: 10px;
  }
 }
  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #209dc0;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000;
  }
  
  ::-webkit-scrollbar-button{
    background-color: #000;
  }
  
/* ---------------------------------------------------body----------------------------------------------------------------- */

main {
  height: 100%;
  position: relative;
  /* background-color: #1a1a1a; */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(media/background/header3.jpg);
  background-size: cover;
  background-position: center;
  will-change: transform;
  animation-name: animation_main;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animation_main {
  0% {
    transform-origin: 50%;
    transform: scale3d(1,1,1);
  }
  50% {
    transform-origin: 10%;
    transform: scale3d(1.1, 1.1, 1);
  }
  75% {
    transform-origin: 90%;
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform-origin: 20%;
    transform: scale3d(1.3, 1.3, 1);
  }
}


section{
  text-align: center;
  transform: translate(0, 1rem);
  opacity: 0;
  transition: all 1.2s;
}

section.inviewport {
  transform: translate(0, 1rem);
  opacity: 1;
  transition: all 1.2s;
}

#about {
  padding: 50px;
}

#about_title,
#timetable_title,
#location_title,
#registration_title {
  font-size: 48px;
  font-weight:400;
}

p{
  color: #ffffff;
  font-size: 24px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
  font-weight:300;
}

#timetable_title,
#location_title,
#registration_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#timetable_grid {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 10px;
}

#timetable div{
  padding: 10px;
  text-align: center;
  z-index: 99;
}

#timetable h3 {
  font-weight: 400;
}
#timetable p {
  font-size: 24px;
  font-weight: 200;
}

.speaker_name {
text-decoration: underline;
}

.speaker_description{
  display: none;
  margin-top: 5px;
}

.speaker img {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.speaker_img{
  display: none;
  margin-top: 5px;
}

.speaker.active .speaker_description{
  display: block;
  margin-top: 10px;
}

.speaker.active .speaker_img{
  display: block;
  margin-top: 10px;
}

#location {
  margin-top: 2rem;
}

#location_map{
  height: 100vh;
  margin: 1rem;
}

#marker {
  width: 64px;
  height: 64px;
  background-image: url(media/marker/9101314.png);
  background-size: cover;
  cursor: pointer;
}

.popup{
  font-size: 12px;
  line-height: 1.3;
  font-weight:500;
}
@media (max-width: 900px) {

  #location_map {
    height: 60vh;
    margin: 0.8rem;
  }
  #marker {
    width: 40px;
    height: 40px;
  }
}

#registration{
  margin-top: 2rem;
  margin-bottom: 4rem;
}

form {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

[type="text"] {
  font-size: inherit;
  font-family: inherit;
  display: block;
  padding: 0 1rem;
  background-color: #111;
  color: #fff;
  border: 1px solid #585858;
  outline: none;
  flex-grow: 1;
  margin-right: -1px;
}

[type="email"] {
  font-size: inherit;
  font-family: inherit;
  display: block;
  padding: 0 1rem;
  background-color: #111;
  color: #fff;
  border: 1px solid #585858;
  outline: none;
  flex-grow: 1;
  margin-right: -1px;
}

::placeholder {
  color: #2e616f;
}

button {
  font-size: 0.8rem;
  font-family: inherit;
  display: block;
  outline: none;
  padding: 20px 30px;
  background-color: inherit;
  color: #2e616f;
  border: 1px solid #585858;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.3px;
}

button:hover {
  background-color: #2e2e2e;
}
@media (max-width: 900px) {
  form {
    flex-direction: column;
  }
  [type="email"] {
    padding: 1rem;
    margin-right: 0;
    margin-bottom: -1px;
  }
  [type="text"] {
    padding: 1rem;
    margin-right: 0;
    margin-bottom: -1px;
  }
}

/* ----------------------------------------------------------footer---------------------------------------------------------------------------------------------- */

footer {
  display: flex;
  background-color: black;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

#footer_text_div{
  margin: auto auto auto auto;
  display: block;
  flex-grow: 1;
  text-align: center;
}

#footer_text_div p{
 display: flex;
 font-size: 21px;
}

footer div img {
  width: 30rem;
  height: 10rem;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

footer ul img {
  width: 3.2rem;
  height: 3.2rem;
  transition: all 0.3s;
}

footer li {
margin: 0.8rem;
}

footer a:hover img {
  transform: scale(1.3);
}


@media (max-width: 1230px) {
 footer {
  display: block;
 }
 #footer_logo_div{
  display: flex;
  justify-content: center;
 }
 #footer_text_div{
  display: flex;
  flex-direction: column;
}
 footer ul {
  max-width: 520px;
}
footer ul img {
  width: 2.8rem;
  height: 2.8rem;
}
}

@media (max-width: 500px) {
  footer div img {
    width: 20rem;
    height: 5rem;
  }
  footer ul {
   max-width: 520px;
 }
 footer ul img {
   width: 1.8rem;
   height: 1.8rem;
 }
 }

 
@media (max-width: 400px) {
  footer ul {
   max-width: 520px;
 }
 footer ul img {
   width: 1.3rem;
   height: 1.3rem;
 }
 }

